<div layout="column">
  <br/>
  <md-content layout-padding class="autoScroll">
    <md-input-container class="md-icon-float" >
      <!-- Use floating label instead of placeholder -->
      <label>Username</label>
      <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
      <input ng-model="login.username" type="text">
    </md-input-container>
    <md-input-container md-no-float>
      <md-icon md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
      <input ng-model="login.phone" type="text" placeholder="Phone Number">
    </md-input-container>
    <md-input-container >
      <!-- Use floating placeholder instead of label -->
      <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
      <input ng-model="login.email" type="email" placeholder="Email (required)" ng-required="true">
    </md-input-container>
    <md-input-container md-no-float>
      <md-icon md-svg-src="img/icons/ic_place_24px.svg" style="display:inline-block;"></md-icon>
      <input ng-model="login.address" type="text" placeholder="Address" >
    </md-input-container>
  </md-content>
</div>
